# Project exclude paths
/.gradle/
/app/build/
/app/build/intermediates/javac/debug/classes/
/lib_camerax/build/
/lib_camerax/build/intermediates/javac/debug/classes/
/local.properties
/build
/.gradle
/.idea
